@model AplicativoChamados.Models.Usuario

<h1>Criar Chamado</h1>

<form method="post" asp-action="Salvar" novalidate>
    <h3>Dados do Chamado</h3>
    <div class="form-group">
        <label for="nome">Nome Completo</label>
        <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" value="@Model.nomeCompleto" />
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<a href="@Url.Action("Index", "Usuarios")">Voltar para os usuarios</a>