@model List<AplicativoChamados.Models.Chamado>

<div>
    <h1>Bem-Vindos ao gerenciador de chamados da FESA</h1>

    <p>Meus chamados atribuidos: XX</p>

    <a class="btn btn-info" asp-controller="Chamados" asp-action="CriarChamado">Novo Chamado</a>

    <div class="row">
        @if (Model != null && Model.Any()) {
            foreach (var infoChamado in Model) {
                <partial name="_chamadoResumo" for="@infoChamado" />
            }
        }
        else {
            <p>Não há chamados cadastrados.</p>
        }
    </div>
</div>