@model AplicativoChamados.Models.Usuario

<h1>Editar Usuário</h1>

<form method="post" asp-action="Atualizar" novalidate>
    <input type="hidden" asp-for="usuarioId" />

    <h3>Dados do Usuario</h3>
    <div class="form-group">
        <label for="nome">Nome Completo</label>
        <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" value="@Model.nomeCompleto" />
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<a href="@Url.Action("Index", "Usuarios")">Voltar para os usuarios</a>