@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Chamados" asp-action="Index">FESA Chamados</a>
</div>

<div class="text-center">
    <a class="btn btn-secondary" asp-controller="Usuarios" asp-action="Index">FESA Usuários</a>
</div>